.right-sidebar{
  margin-left: 24px;
  float: right;
  width: 300px;
  margin: 40px 0px 15px 24px; 
  font-size: 13px;
}
@media only screen and (max-width: 1000px) {
  .right-sidebar{
    width: 90%;
  }
  
}
.widget{
  margin-top: 10px;
  box-shadow: 0 25px 10px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
  0 1px 4px rgb(0 0 0 / 10%);
}
.widget h3{
  margin: 0px;
  background-color: #fbf3d5;
  padding: 15px;
  border: solid 1px #f1e5bc;
}
.right-sidebar-div1{
  background-color: #fdf7e2;

  border: solid 1px #f1e5bc;
}
.right-sidebar-div1, .right-sidebar-div2{
  display: flex;
  padding: 15px;
  align-items: flex-start;
  justify-content: space-evenly;
 
}
.right-sidebar-div1 p, .right-sidebar-div2 p{
  padding-left: 10px;
  margin-top: 0px;
  font-size: 14px;
}
.widget-tags{
  margin-top: 40px;
  box-shadow: 0 25px 10px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
  0 1px 4px rgb(0 0 0 / 10%);
}
.widget-tags h4{
  margin: 0%;
  padding: 15px;
  background-color: #f8f9f9;
  border: #e3e6e8;
}
.widget-tags-div{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  border-end-end-radius: solid 1px #e3e6e8;
  padding: 10px;
}
.widget-tags-div p{
  padding: 5px;
  background-color: #e1ecf4;
  color: #39739d;
border-radius: 2px;
font-size: 14px;
}