.user-details-container{
  width: 100%;
  margin-top: 40px;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  
}

.user-details{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 16px;
  
}
.user-name{
  padding-left: 20px;
}
.edit-profile-btn{
  padding: 8px 10px;
  border: solid 1px #7e7e7e;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;

}
.edit-profile-btn:hover{
  background-color: #f5fcf9;
}
.edit-profile-title{
  padding: 20px 0px;
  border-bottom: solid 1px #dbd9d9;
}
.edit-profile-title-2{
  color: grey;
  font-weight: 400;
}
.edit-profile-form{
  padding: 20px;
  border: solid 1px #dbd9d9;
  border-radius: 5px;
}
.edit-profile-form label h3{
  margin: 0px;
  padding: 3px 0px;
}
.edit-profile-form label p{
  margin: 0px;
  padding: 3px 0px;
}
.edit-profile-form label input, .edit-profile-formlabel textarea{
  padding: 5px;
  margin-bottom: 20px;
  border: solid 1px #dbd9d9;
  width: 50%;
}
.user-submit-btn{
  padding: 14px 10px;
  background-color: #0a95ff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}
.user-submit-btn:hover{
  background-color: #0074cc;
  cursor: pointer;
}
.user-cancel-btn{
  padding: 14px 10px;
  color: #0a95ff;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}